* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #fff;
}
.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}
.titulo {
  text-align: center;
  color: palevioletred;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}